<div class="block-gray">
                               <div class="title-block"><strong>Account Details</strong> - You use: <strong>{{packageName}} package</strong> {{packageEDate packageEndDate}}</div>

                                    <div class="pref-acc-wr clearFix">
                                        <div class="pref-acc-r float-right">
<p><strong>{{tasksCompleted}}</strong> tasks - <span class="green">completed</span></p>
<p><strong>{{tasksopen}}</strong> tasks - <span class="black">OPEN</span></p>
<p><strong>{{tasksPending}}</strong> tasks - <span class="gray">Pending</span></p>
                                        </div>
                                        <div class="pref-acc-l">
This account was created on {{groupCDate groupCreationDate}}<br>
You have <strong>{{regionsCount}}</strong> location in a system and <strong>{{usersCount}}</strong> users are working with you.<br>
<strong>{{topicsCount}}</strong> topics created in a system and <strong>{{commentsCount}}</strong> comments posted.<br>
 You are using <strong>{{folderSizeInMB}} mb</strong> which is <strong>{{spacePercentage}}%</strong> of your disk space.

                                        </div>
                                    </div>
                                  </div>  